name: Testim E2E
on: [push]

jobs:
    run-testimio-cli:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                node-version: '14'
            - run: npm install -g @testim/testim-cli
            - run: testim --token "xFRwL30HU5uhSXjQlCQQFFn2fAfZcW93SGgljN7IhJpbKF7pGH" --project "IcDixRshyoUQzL2Glv26" --grid "Testim-Grid"
